#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #6db6ff;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

#button-container {
    text-align: left;
}

#sidebar button {
    background-color: #afafaf;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
}

#sidebar button:hover {
    background-color: #575757;
}

#sidebar h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ffffff;
}

.room-controls label {
    margin-bottom: 5px;
    font-weight: bold;
}

.room-controls input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 10%;
}

.room-controls button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.room-controls button:hover {
    background-color: #45a049;
}
